html {
    font-family: 'Circular', -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    overflow-x: hidden;
    margin: auto;
}

.content {
    margin-top: 150px;
    margin-bottom: 70px;
    position: relative;
    z-index: -1;
}

a:hover {
    cursor: pointer;
}

.bottom-navbar {
    background-color: #FFFFFF;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 10px 0px 10px;
    z-index: 1;
    border: 1px solid rgba(0 0 0/0.08);
}

.bottom-navbar a {
    display: inline-block;
    color: #717171;
    text-align: center;
    padding: 2.5px 35px;
    text-decoration: none;
    font-size: 10px;
}

.bottom-navbar a:hover {
    cursor: pointer;
}

.bottom-navbar a.active {
    color: #E81948;
}

.bottom-navbar a:visited {
    color: #717171;
}

svg {
    margin: auto;
    padding-bottom: 3px;
}

.search-section {
    display: flex;
}

.main-search-button {
    padding: 0 4px;
    margin: 15px 30px 15px 22px;
    background-color: #FFFFFF;
    border: 0.5px solid rgba(0 0 0/0.08);
    box-shadow: 0 3px 10px rgba(0 0 0/0.1);
    cursor: pointer;
    border-radius: 30px;
    max-width: 644px;
    height: 55px;
    width: 644px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.searching-icon {
    border: 2px solid transparent;
    padding-left: 18px;
}

.button-text {
    padding-left: 18px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bold {
    font-size: 14px;
}

.smaller {
    font-size: 12px;
}

.show-filters {
    background-color: #FFFFFF;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 1px solid #B0B0B0;
    cursor: pointer;
    margin-top: 23px;
    margin-left: -20px;
}

.show-filters svg {
    margin: auto;
    padding-top: 2px;
}

ul {
    list-style: none;
    display: inline;
}

li {
    float: left;
}

div.filter-and-search {
    box-shadow: rgb(0 0 0/16%) 0 0 6px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
}

.search-tabs p {
    margin: 0px;
}

.search-tabs img {
    margin-top: -20px;
}

div.search-tabs {
    overflow: auto;
    white-space: nowrap;
    color: #717171;
    font-size: 12px;
    font-weight: 450;
}

div.search-tabs a {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    color: #717171;
}

div.search-tabs a:hover {
    border-bottom: 2px solid #717171;
}

div.search-tabs a:active {
    border-bottom: 2px solid #000000;
    color: #000000;
}

.destinations {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
    gap: 10px;
}

.location {
    margin-left: -45px;
    margin-right: -45px;
    margin-bottom: 5px;
    position: relative;
}

.location p {
    cursor: pointer;
}

img {
    width: 325px;
    height: 325px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

svg.liked {
    position: absolute;
    border: none;
    top: 30px;
    right: 55px;
    stroke: #FFFFFF;
    stroke-width: 2;
    overflow: visible;
    width: 24px;
    height: 24px;
    fill: rgba(0, 0, 0, 0.5);
    display: block;
}

.star-rating {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 15px;
}

.star-rating-two {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.star {
    margin-top: 3px;
    margin-right: 4px;
}

::-webkit-scrollbar {
    display: none;
}


.price {
    text-decoration: underline;
    color: #222222;
    font-size: 15px;
    margin-top: 10px;
}

.title {
    color: #222222;
    font-size: 16px;
    font-weight: 450;
    margin-top: 12px;
    margin-bottom: -35px;
}

.button-title {
    font-weight: 500;
    font-size: 1.125rem;
    margin-top: -20px;
}

.grey {
    color: #717171;
    margin: 5px;
    margin-left: 0;
}

.icon {
    width: 24px;
    height: 24px;
    overflow: visible;
}

.continue {
    text-align: center;
    margin: 56px 0px 0px;
    font-size: 18px;
}

.show-more {
    color: #FFFFFF;
    background-color: #222222;
    padding: 14px 24px;
    font: inherit;
    border: none;
    border-radius: 10px;
    margin-bottom: 35px;
    cursor: pointer;
}

.inspiration {
    background-color: #f7f7f7;
    padding: 20px;
}

.inspo-heading {
    font-weight: 500;
    margin-top: 30px;
    font-size: 22px;
    margin: 0px 0px 8px,
}

.inspo-tabs {
    margin-left: -10px;
}

div.inspiration {
    overflow: auto;
    white-space: nowrap;
    font-size: 12px;
}

.tab {
    font-weight: 450;
    font-size: 14px;
    margin: 6px 6px 6px 0px;
    color: #717171;
}

.tab a {
    cursor: pointer;
}

div.inspiration a {
    display: inline-block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

div.inspiration a:hover {
    cursor: pointer;
}

div.inspiration a:active {
    border-bottom: 2px solid #000000;
    color: #000000;
}

